<div class="container">
	<div class="well">
		<section ng-controller="fono">
		<form name="signupForm" class="form-horizontal">
			<fieldset>
				<legend>Actualizando teléfono... </legend>
				<div class="form-group">
					<div class="col-md-10">
					</div></div><div class="form-group">
						<div class="col-md-10">
							<div class="form-group">
								<div class="col-md-10">
									</div></div><div class="form-group">
				<label for="telephone" class="col-md-2 control-label">Telefono</label>
				<div class="col-md-10">
				<input name="numero" ng-model="numero"  type="number" minlength="9" maxlength="9" placeholder="Telefono" ng-model="telephone" required="required" class="form-control" required="" /></div></div><div class="form-group"><div class="col-md-10 col-md-offset-2"><div class="pull-right">
							<button ng-click="actualizar()" ng-disabled="signupForm.$invalid" class="btn btn-primary">Actualizar número</button>&nbsp;

							<a href="#!/hora" class="btn btn-default">Cancel</a></div></div></div></fieldset></form></div></div>
		</section>