<section ng-controller="Hora">
<hr>
<div class="col-md-5">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input  class="form-control" ng-model="buscarpaciente.rut" placeholder="Buscar por rut">
                    <span class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
             </div>
</div>
<div ng-model=buscarpaciente.rut><strong>Buscando a: </strong>{{buscarpaciente.rut}}</div>
<hr>
<table  class="table table-bordered table-responsive">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Apellido
			<th>Rut</th>
			<th>Telefono</th>
			<th>Acción</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="paciente in pacientes | filter:buscarpaciente">
			<td><a href="/#!/pacientes/edit/{{paciente._id}}">{{paciente.firstName }}</a></td>
			<td><a href="/#!/pacientes/edit/{{paciente._id}}">{{paciente.lastName }}</a></td>
			<td>{{paciente.rut}}</td>
			<td>{{paciente.telephone}}</td>
			<td>
				<button class="btn btn-success" ng-click="seleccionado(paciente)">Seleccionar</button>
				<!--button class="btn btn-primary" ng-click="cambiofono(paciente)" >Editar teléfono</button-->
			</td>
		</tr>
	</tbody>
</table>
<hr>
</section>