<section ng-controller="tipohora">
<hr>
<div class="row text-center">
<div class="page-hader text-center"><h1><span class="glyphicon glyphicon-list-alt"></span> Tipo de Consulta</h1></div>
<div class="pagination-center col-md-6">
<a href="#!/medico" ng-click="seleccionado()"><i id=opcion2 class="fa fa-user-md fa-5x" aria-hidden="true"><h3 class="text-success"><strong>Consulta médica</strong></h3></i>
</a>
</div>
<div class="pagination-center col-md-6">
<a href="#!/examen"><i id=opcion2 class="fa fa-heartbeat fa-5x"><h3 class="text-success"><strong>Toma de exámenes</strong></h3></i>
</a>
</div>
</div>
<hr>
</section>
