<!-- <div class="row contact-wrap" data-ng-init="findHoras()"> -->
	<div class="row contact-wrap" >
	<div id="formConfirmation">
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
</style>
	<h1></h1>
	<div class="center">
      <div class="container">
      <legend>Para descargar la agenda solicitad presione : <button ng-click="downloadPdf()">Descargar {{fileNameRep}}</button></legend>
      </div>
		<br/>
  <br/>
	</div>
	<div class="col-lg-12 col-sm-12 col-xs-12 center">
		<a class="btn btn-default" style="margin-top:20px" href="#!/reportes"><i class="fa fa-step-backward"></i> Generar reporte para otro mes</a>
		<a class="btn btn-default" style="margin-top:20px" href="#!/dashboard"><i class="fa fa-home"></i> Volver al menú principal</a>
	</div>
</div><!--/.row-->
</div>
