<div class="row contact-wrap" data-ng-init="findHorasbyFecha()">
	<div id="formConfirmation">
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
</style>
	<h1></h1>
	<div class="center">
      <div class="container">
          <h1  style="font-weight: 10;color: #000000;">Clínica de Reproducción Humana </br> Universidad de Valparaíso</h1>
					<!-- <h1  style="font-weight: 10;color: #000000;"> </br> {{reservasResponse.length}}</h1> -->
            <img   width="10%" height="10%" src="/assets/img/logoUV.jpeg" alt="" style="padding-top: 15px;">
      </div>
		<br/>
  <br/>
	</div>
		<div class="col-lg-6 col-lg-offset-3 col-sm-offset-6 col-sm-3 col-xs-12 single-profile-top" ng-repeat="h in reservasResponse " >
		<h2><i class="fa fa-address-book-o"></i> Reporte general para : {{formatted}} </h2>
		<div class="row">
			<table style="width:100%">
  <tr>
    <th><h2><span class="fa fa-user-md" aria-hidden="true" style="padding-left: 10%;"></span> Cantidad de reservas:</label></h2></th>
		<td style="padding-left: 10%;"><h3>{{h.reservas}} </h3></td>
  </tr>
	<tr>
    <th><h2><span class="fa fa-user-md" aria-hidden="true" style="padding-left: 10%;"></span> Cantidad de reservas no confirmadas:</label></h2></th>
		<td style="padding-left: 10%;"><h3>{{h.perdidas}} </h3></td>
  </tr>
	<tr>
    <th><h2><span class="fa fa-user-md" aria-hidden="true" style="padding-left: 10%;"></span> Cantidad de pacientes atendidos:</label></h2></th>
		<td style="padding-left: 10%;"><h3>{{h.confirmadas}} </h3></td>
  </tr>
	<tr >
    <th><h2><span class="fa fa-user-md" aria-hidden="true" style="padding-left: 10%;"></span>  Cantidad de consultas:</label></h2></th>
		<td style="padding-left: 10%;"><h3>{{h.consultas}} </h3></td>
  </tr>
  <tr>
    <th><h2><span class="fa fa-calendar" aria-hidden="true" style="padding-left: 10%;"></span> Cantidad de examenes</label></h2></th>
    <td style="padding-left: 10%;"><h3>{{h.examenes}} </h3></td>
  </tr>
</table>
		</div>
	</div>
</div><!--/.row-->
<div class="col-lg-12 col-sm-12 col-xs-12 center">
	  <button class="btn btn-primary" ng-click="generatePDF()"><i class="fa fa-save"></i> Descargar como PDF</button>
	<a class="btn btn-default" style="margin-top:20px" href="#!/reportes"><i class="fa fa-undo"></i> Atrás</a>
	<!-- <a class="btn btn-danger " style="margin-top:20px" href="#!/home_administrativo"><i class="fa fa-times"></i> Cancelar</a> -->
</div>
</div>
