<section>
<hr>

<div class="row text-center">
  <div class="page-hader text-center destacadito"><h1><span class="glyphicon glyphicon-save-file"></span> Menu de reportes</h1></div>
<div class="pagination-center col-md-6">
<a href="#!/agendas"><i id=opcion2 class="fa fa-calendar-check-o fa-5x"><h3 class="text-success"><strong>Agenda diaria</strong></h3></i>
</a>
</div>
<div class="pagination-center col-md-6">
<a href="#!/reportes"><i id=opcion1 class="fa fa-calendar fa-5x" aria-hidden="true"><h3 class="text-success"><strong>Reporte general</strong></h3></i>
</a>
</div>
</div>
<hr>
</section>
