<div class="row contact-wrap">
	<div class="center">
		<!-- <h1> fijate quie el paciente es ES es : {{pacienteSelec._id}}</h1> -->
		<h1><i class="fa fa-calendar" aria-hidden="true"></i> Genedor de agenda diaria para médicos </h1>
		<!-- <button ng-click="openPdf()">Open Pdf</button>
    <button ng-click="downloadPdf()">Download Pdf</button> -->
	</div>
	<div  class="col-lg-6 col-lg-offset-3 col-sm-offset-6 col-sm-3 col-xs-12 contact-form ">


            <!-- El elemento mensaje error -->
            <div data-ng-show="error" class="alert alert-danger fade in alert-dismissable text-center">
                <strong data-ng-bind="error"></strong>
            </div>
						<fieldset>
			<div style="padding-left: 20px;" class="form-group">
				<h2>Fecha actual &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ hoy }} </h2>
				<!-- <legend>Generar agenda para el dia: {{ ctrl.myInputdate || momentDate }} </legend> -->
          <!-- <label>Escoja fecha</label> -->
					<div>
						<h2>Generar agenda para el dia  &nbsp;:&nbsp; {{ ctrl.myInputdate || momentDate }} &nbsp;&nbsp;</h2>
					<div class="btn btn-primary" moment-picker="ctrl.myInputdate"
						data-ng-model="momentDate"
						locale="es"
						format="YYYY-MM-DD"
						min-view="month"
						max-view="day"
						today= "true"
						set-on-select="true"
						class="btn-primary">
						<i class="glyphicon glyphicon-calendar"></i>&nbsp; Escoger otra fecha
					</div>
					 <!-- {{"Escoger otro dia"}} -->
					</div>
					<!-- <i class="glyphicon glyphicon-calendar"></i>&nbsp; -->
	    </div>
			<fieldset>


    </div>
</div>
<!-- #######################ELEGIR MEDICO -->
<div class="row contact-wrap" data-ng-init="find()">
		<div class="col-lg-6 col-lg-offset-3 col-sm-offset-6 col-sm-3 col-xs-12 single-profile-top" >
		<legend><i class="fa fa-user-md"></i> Seleccionar Médico </legend>


	<!-- <div class="col-lg-6 col-lg-offset-3 col-sm-offset-6 col-sm-3 col-xs-12 single-profile-top" > -->
		<div class="row">
			<label class="pull-left" style="padding-left: 20px;" ><span class="fa fa-filter"></span> Filtros</label>
			<div class="col-lg-3 col-md-3 col-sm-3" style="padding: 10px;">
				<input name="nombre" class="form-control" type="text" placeholder="Ingrese un nombre" ng-model="search.nombre"></input>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3" style="padding: 10px;">
				<input name="rut" class="form-control" type="text" placeholder="Ingrese un R.U.N." ng-model="search.run"></input>
			</div>
			<!-- <div class="col-lg-3 col-md-3 col-sm-3" style="padding: 10px;">
				<input name="especialidad" class="form-control" type="text" placeholder="Ingrese especialidad" ng-model="search.especialidad"></input>
			</div> -->
		<!-- </div> -->
		</div>

			<table class="table table-striped" style='border: 1px solid #DDD' >
				<thead>
					<tr>
						<th>R.U.N.</th>
						<th>Nombre</th>

						<th>Correo electrónico</th>
						<th>Seleccionado</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="p in medicos | filter:search:strict">
						<td style="text-align: left;" >{{p.run}}</td>
						<td style="text-align: left;" >{{p.nombre}}</td>

						<td style="text-align: left;" >{{p.email}}</td>
						<td class="center">
							<input class="form-control" type="radio" name="medicoSeleccionado" style="height: 17px; margin:0px;" data-ng-model="medico" data-ng-value="$index" data-ng-change="setMedico($index)" />
						</td>
					</tr>
				<tbody>
			</table>


	</div>
</div><!--/.row-->
<div class="form-group center">
	<a class="btn btn-default" href="#!/tipo_medico"><i class="fa fa-backward" aria-hidden="true"></i> volver</a>
	<a ng-click="agenda()" class="btn btn-primary "   ><span class="fa fa-user"></span> Siguiente </a>
				<!-- <a class="btn btn-default" style="margin-top:10px" href="#!/tipo_medico"><i class="fa fa-backward" aria-hidden="true"></i> volver</a> -->
</div> -->
