<section ng-controller="ExampleController" style="background: #fff;">
<div data-ng-show="!authentication.user" class="container" id="containerPpal" style="padding: 10px 0px 80px 0px">
  <div class="pull-right single-profile-top" style="margin: 0;">
    <a class="btn btn-default pull-right" href="/signin"><i class="fa fa-lock"></i> Identificarse</a>
    <a class="btn btn-default pull-right" href="/signup"><i class="fa fa-user-plus"></i> Crear Cuenta</a>
  </div>
</div>
  
  <div data-ng-show="authentication.user">
    <h2>Hola <span data-ng-bind="authentication.user.fullName"></span></h2>
    <a class="btn btn-default" href="/signout" alt="cerrar sesion" style="margin-left: 30px;padding: 0px 6px;"><i class="fa fa-sign-out"></i> Cerrar Sesión</a>
    <ul>
      <h1>Aqui va lo siguiente</h1>
    </ul>
  </div>
</section>