
<section ng-controller="ExampleController">
	<div class="col-lg-8 col-sm-6 col-xs-12">
		<h1>Inicio: supongamos que este es el dash secretaria</h1>
		<h4>porsiacaso esto esta en la vista del modulo example</h4>
		<h2> <i class="fa fa-calculator"></i> Pacientes </h2>
		<a class="btn btn-default btn-lg col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:20px;font-size: 30px" href="#!/pacientes/create"><i class="fa fa-plus-square-o"></i> Nuevo Paciente</a>
<a class="btn btn-default pull-right" href="/testapi"><i class="fa fa-user-plus"></i> testing</a>
		</div>

	<input type="text" ng-model="name">
	<input type="text" ng-model="name">
	<input type="text" ng-model="message">
	<input type="text" ng-model="message">

	<h2>Probando servicio</h2>
            <h2>despues de registrar</h2>
						<h2>el servicio lo agregue al service-example con el que venia la base</h2>
						<h2>lo veras injectado como : SharedDataService</h2>
            <h3>Rut Paciente {{PacienteData.rut}}  </h3>
</section>
