<div class="container">
  <div class="well">
    <form name="signupForm" class="form-horizontal">
      <fieldset>
        <legend>Informacion Paciente Nuevo</legend>
        <div class="form-group">
          <label for="rut" class="col-md-2 control-label">RUT *</label>
          <div class="col-md-10">
            <input name="rut" type="text" placeholder="RUT Ej: 12345678-5" ng-model="rut" required="required" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="fname" class="col-md-2 control-label">Nombre(s)</label>
          <div class="col-md-10">
            <input name="fname" type="text" placeholder="Nombre(s)" ng-model="fname" required="required" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="lname" class="col-md-2 control-label">Apellido(s)</label>
          <div class="col-md-10">
            <input name="lname" type="text" placeholder="Apellido(s)" ng-model="lname" required="required" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="telephone" class="col-md-2 control-label">Telefono *</label>
          <div class="col-md-10">
            <input name="telephone" type="text" placeholder="Telefono Ej: 987654321" ng-model="telephone" required="required" class="form-control" ng-pattern="/^[0-9]{9}$/"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-10 col-md-offset-2">
            <div class="pull-right">
              <button ng-click="agregar()" ng-disabled="signupForm.$invalid" class="btn btn-primary">Crear Paciente</button>&nbsp;<a href="/" class="btn btn-default">Cancel</a>
            </div>
          </div>
        </div>
      </fieldset>
      <small><strong>Rut:</strong> Ingresar sin puntos y con guion.</small>
      <br>
      <small><strong>Telefono:</strong> Ingresar los 9 digitos.</small>
    </form>

  </div>
</div>

