<div class="row contact-wrap">
	<div class="center">
		<h2><i class="fa fa-address-book-o"></i> Datos del paciente </h2>
	</div>
	<div class="col-lg-6 col-lg-offset-3 col-sm-offset-6 col-sm-3 col-xs-12 contact-form">
		<form ng-submit="create()" >
            <!-- El elemento mensaje error -->
            <div data-ng-show="error" class="alert alert-danger fade in alert-dismissable text-center">
                <strong data-ng-bind="error"></strong>
            </div>
			<p class="lead center">Ingrese la información del paciente</p>
			<div class="form-group">
                <label>R.U.N.</label>
								<input class="form-control" type="text" name="rutValido" ng-model="rutValido">
								Validacion de rut:d<rut  ng-model="rutValido"></rut>
                <!-- <input type="text" name="run" class="form-control" placeholder="11.222.333-5" data-ng-model="run"> -->
            </div>
			<div class="form-group">
                <label>Fono</label>
                <input type="text" name="fono" class="form-control" placeholder="Teléfono fijo o móvil" data-ng-model="fono">
            </div>
		    <div class="form-group center">
                <button type="submit" class="btn btn-primary" ><span class="fa fa-plus"></span> Agregar </button>
                <a class="btn btn-default" style="margin-top:10px" href="#!/tipo_paciente"><i class="fa fa-undo"></i> volver</a>
            </div>
        </form>
    </div>
</div>
