<div class="container">
    <div class="well">
        <form name="signupForm" class="form-horizontal">
            <fieldset>
                <legend>Editar Paciente</legend>
                <div class="form-group">
                    <label for="rut" class="col-md-2 control-label">RUT *</label>
                    <div class="col-md-10" data-step="1" data-intro="Edite el rut si corresponde">
                        <input name="rut" type="text" placeholder="RUT Ej: 12345678-5" ng-model="paciente.rut" required="required" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fname" class="col-md-2 control-label">Nombre(s) *</label>
                    <div class="col-md-10" data-step="2" data-intro="Edite nombre(s) del paciente si es necesario">
                        <input name="fname" type="text" placeholder="Nombre(s)" ng-model="paciente.firstName" required="required" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lname" class="col-md-2 control-label">Apellido(s) *</label>
                    <div class="col-md-10" data-step="3" data-intro="Edite apellido(s) del paciente si es necesario">
                        <input name="lname" type="text" placeholder="Apellido(s)" ng-model="paciente.lastName" required="required" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="telephone" class="col-md-2 control-label">Teléfono *</label>
                    <div class="col-md-10" data-step="4" data-intro="Edite el numero de contacto del paciente">
                        <input name="telephone" type="text" placeholder="Telefono Ej: 987654321" ng-model="paciente.telephone" required="required" class="form-control" ng-pattern="/^[0-9]{9}$/"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="pull-right" >
                            <button ng-click="guardar()" ng-disabled="signupForm.$invalid" class="btn btn-primary" data-step="5" data-intro="Para finalizar haga click en el boton guardar">Guardar</button>&nbsp;<a href="/" class="btn btn-default" data-step="6" data-intro="O haga click en cancelar para descartar los cambios">Cancel</a>
                        </div>
                    </div>
                </div>
            </fieldset>
            <small><strong>Rut:</strong> Ingresar sin puntos y con guión.</small>
            <br>
            <small><strong>Teléfono:</strong> Ingresar los 9 dígitos.</small>
        </form>

    </div>
</div>
