<!DOCTYPE html>
<html>
<head>
	<title><%= title%></title>

	<link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="/assets/css/main.css">
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
	
	<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" media="all">
      
	<script src="/lib/angular-date-picker/angular-date-picker.js""></script> 






<link rel="stylesheet" href="lib/fullcalendar/dist/fullcalendar.css"/>
<!-- jquery, moment, and angular have to get included before fullcalendar -->
<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="lib/moment/min/moment.min.js"></script>
<script type="text/javascript" src="lib/angular/angular.min.js"></script>
<script type="text/javascript" src="lib/angular-ui-calendar/src/calendar.js"></script>
<script type="text/javascript" src="lib/fullcalendar/dist/fullcalendar.min.js"></script>
<script type="text/javascript" src="lib/fullcalendar/dist/gcal.js"></script>

<link rel="stylesheet" type="text/css" href="/lib/angular-date-picker/angular-date-picker.css" />

<script src="/lib/angular/angular.js""></script> 

<link href="/lib/angularjs-datepicker/src/css/angular-datepicker.css" rel="stylesheet" type="text/css" />

<script src="/lib/angularjs-datepicker/src/js/angular-datepicker.js"></script> 

<script src="/lib/angularjs-datepicker/src/angular-locale_es-cl.js"></script> 


</head>
<body>





 <header id="header">
	        <div class="container">
	          <div class="navbar-left">
	            <h1 style="font-weight: 100;color: #fff;">Clínica de Reproducción Humana </br> Universidad de Valparaíso</h1>
	          </div>
	          <div class="navbar-right">
	            <a href="#">
	              <img class="pull-right" src="/assets/img/logoblanco.png" alt="" style="padding-top: 15px;">
	            </a>
	          </div>
	        </div><!--/.container-->
	    </header><!--/header-->


<!--<section ng-view>	
</section>

-->
<section ng-view>	
</script> 

</section>


<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row center">
            <div class="col-sm-12">
                <img src="/assets/img/logoblanco.png">
                <ul>
                    <li style="margin-top: 15px;"><a>Clínica de Reproducción Humana</a></li></br>
                    <li><a>Hontaneda 2664, Valparaíso. Chile</a></li>
                    </br>
		            <li><a>Fono: +56 (32) 250 7313</a></li></br>
                </ul>
            </div>
        </div>
    </div>
    </br>
    </br>
</footer>

<!--angular y modulos externos -->
<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>

<!--angular y modulos example -->
<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>

<!-- modulos, rutas y controladores example  -->
<script type="text/javascript" src="/example/example.client.module.js"></script>
<script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
<script type="text/javascript" src="/example/config/example.client.routes.js"></script>
<!--service-example-->
<script type="text/javascript" src="service-example/service-example.client.module.js"></script>
<script type="text/javascript" src="service-example/service/prueba.client.service.js"></script>

<!-- modulos, rutas y controladores reserva paciente  -->
<script type="text/javascript" src="/reservaPaciente/reservaPaciente.client.module.js"></script>
<script type="text/javascript" src="/reservaPaciente/controllers/reservaPaciente.client.controller.js"></script>
<script type="text/javascript" src="/reservaPaciente/config/reservaPaciente.client.routes.js"></script>
<!-- modulos, rutas y controladores reserva de secretaria  -->
<script type="text/javascript" src="/reservaSecretaria/reservaSecretaria.client.module.js"></script>
<script type="text/javascript" src="/reservaSecretaria/controllers/reservaSecretaria.client.controller.js"></script>
<script type="text/javascript" src="/reservaSecretaria/config/reservaSecretaria.client.routes.js"></script>









<!-- aplicacion que enlaza todos los modulos -->
<script type="text/javascript" src="application.js"></script>



</body>
</html>