<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
    <title> <%= title %> </title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
      <!-- bower:css -->
      <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css" />
      <link rel="stylesheet" type="text/css" href="/lib/angular-bootstrap/ui-bootstrap-csp.css" />
        <!-- endbower -->
      <!-- build:css(.tmp) styles/main.css -->
      <link rel="stylesheet" href="/styles/main.css">
      <link rel="stylesheet" href="/styles/font-awesome.min.css">
      <!-- endbuild -->
  </head>
  <body>
      <!-- HEADER -->
      <header id="header">
          <div class="container">
            <div class="navbar-left">
              <h1 style="font-weight: 100;color: #fff;">Clínica de Reproducción Humana </br> Universidad de Valparaíso</h1>
            </div>
            <div class="navbar-right">
              <a href="#">
                <img class="pull-right" src="images/logoblanco.png" alt="" style="padding-top: 15px;">
              </a>
            </div>
          </div><!--/.container-->
      </header><!--/header-->

        <section ng-view></section>
        <script type="text/javascript">
          window.user = <%- user || 'null' %>;
        </script>



      <!-- FOOTER -->
      <footer id="footer" class="midnight-blue">
        <div class="container">
          <div class="row center">
            <div class="col-sm-12">
              <img src="images/logoblanco.png">
              <ul>
                <li style="margin-top: 15px;"><a>Clínica de Reproducción Humana</a></li></br>
                <li><a>Hontaneda 2664, Valparaíso. Chile</a></li></br>
                <li><a>Fono: +56 (32) 250 7313</a></li></br>
              </ul>
            </div>
          </div>
        </div>
        </br></br>
    </footer>



  

      <!-- modulos angular -->
      <script type="text/javascript" src="/lib/angular/angular.js"></script>
      <script type="text/javascript" src="/lib/angular-locale_es-cl.js"></script>
      <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
            <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>


      <script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
      <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
      <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
      <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
      <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
      <script type="text/javascript" src="/lib/ngstorage/ngStorage.min.js"></script>
      <!-- charts -->
      <script type="text/javascript" src="/lib/chart.js/dist/Chart.bundle.js"></script>

      <!-- modulo users -->
      <script type="text/javascript" src="/users/users.client.module.js"></script>
    <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

      <!-- modulo secretaria -->
      <script type="text/javascript" src="/secretaria/secretaria.client.module.js"></script>
      <script type="text/javascript" src="/secretaria/config/secretaria.client.routes.js"></script>
      <script type="text/javascript" src="/secretaria/controllers/secretaria.client.controller.js"></script>
    
      <script type="text/javascript" src="/aplication.js"></script>

    
</html>