<!DOCTYPE html>
<html>
<head>
	<title><%= title%></title>
	<link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="/assets/css/main.css">
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
</head>
<body>

 <header id="header">
	        <div class="container">
	          <div class="navbar-left">
	            <h1 style="font-weight: 100;color: #fff;">Clínica de Reproducción Humana </br> Universidad de Valparaíso</h1>
	          </div>
	          <div class="navbar-right">
	            <a href="#">
	              <img class="pull-right" src="/assets/img/logoblanco.png" alt="" style="padding-top: 15px;">
	            </a>
	          </div>
	        </div><!--/.container-->
	    </header><!--/header-->


<!-- <section ng-view>
</section> -->

<section style="background: #fff;">
	<!-- parte de fonts awesome, ventanita de buen espacio-->
	<div class="container" id="containerPpal" style="padding: 10px 0px 80px 0px" >
		<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<ng-view>
				<!-- CONTENIDO renderizado por angular-->
			</ng-view>
		</div>
	</div>
</section>

  <footer id="footer" class="midnight-blue">
		    <div class="container">
		      <div class="row center">
		        <div class="col-sm-12">
		          <img src="/assets/img/logoblanco.png">
		          <ul>
		            <li style="margin-top: 15px;"><a>Clínica de Reproducción Humana</a></li></br>
		            <li><a>Hontaneda 2664, Valparaíso. Chile</a></li></br>
		            <li><a>Fono: +56 (32) 250 7313</a></li></br>
		          </ul>
		        </div>
		      </div>
		    </div>
		    </br></br>
		</footer>






<script type="text/javascript">

	window.huaso = "hola";


</script>


<!--angular y modulos externos -->
<script type="text/javascript" src="/lib/angular/angular.js"></script>
<script type="text/javascript" src="/lib/angular-locale_es-cl.js"></script>
<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="/lib/ngstorage/ngStorage.min.js"></script>
<script type="text/javascript" src="/lib/angular-rut/dist/angular-rut.min.js"></script>
<script type="text/javascript" src="/lib/AngularJsRutValidador/AngularJsRutValidador.js"></script>

<!-- modulo pacientes -->
<script type="text/javascript" src="/pacientes/client.module.pacientes.js"></script>
<script type="text/javascript" src="/pacientes/services/client.service.pacientes.js"></script>
<script type="text/javascript" src="/pacientes/controllers/client.controller.pacientes.js"></script>
<script type="text/javascript" src="/pacientes/config/client.route.pacientes.js"></script>

<!--service-example-->
<script type="text/javascript" src="service-example/service-example.client.module.js"></script>
<script type="text/javascript" src="service-example/service/prueba.client.service.js"></script>



<!-- aplicacion que enlaza todos los modulos -->
<script type="text/javascript" src="application.js"></script>



</body>
</html>
